button{
  font-size: 40px;
  height: 70px;
  width: 180px;
  padding: 5px;
  color: aliceblue;
  background-color: rgba(57, 57, 204, 0.758);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.315);
  transition: all 0.2s;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.358);
}
button:hover{
  transform: scale(1.03);
  color: rgba(57, 57, 204, 0.758);
  background-color: white;
  cursor: pointer;
  border: 1.5px solid rgba(57, 57, 204, 0.758);
}
button:active{
  opacity: 0.6;
}
.Main-container{
  border: 1px solid rgba(0, 0, 0, 0.208);
  border-radius: 5px;
  padding: 7px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;

}
.Digit{
 
  height: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  text-align: center;
  font-size: 70px;
  padding: 60px;
  transition: all 0.4s;
}
.all-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
